# Angular Default
dist/
tmp/
out-tsc/
bazel-out/
test-files/

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ionic
www/
platforms/
plugins/
.ionic/

# OS
.DS_Store
Thumbs.db

# Firebase
google-services.json
