// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /* Font Family - Global override in global.scss */

  /** primary - Main Brand Color (Violet/Purple Modern) **/
  --ion-color-primary: #6c5ce7;
  --ion-color-primary-rgb: 108, 92, 231;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5f51cc;
  --ion-color-primary-tint: #7b6ce9;

  /** secondary - Accent Color (Soft Purple) **/
  --ion-color-secondary: #a29bfe;
  --ion-color-secondary-rgb: 162, 155, 254;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #8f88e0;
  --ion-color-secondary-tint: #aba5fe;

  /** tertiary - Dark action (Dark Grey) **/
  --ion-color-tertiary: #2d3436;
  --ion-color-tertiary-rgb: 45, 52, 54;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #282e30;
  --ion-color-tertiary-tint: #42484a;

  /** success - Green **/
  --ion-color-success: #00b894;
  --ion-color-success-rgb: 0, 184, 148;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00a282;
  --ion-color-success-tint: #1abf9f;

  /** warning - Yellow/Orange **/
  --ion-color-warning: #ffeaa7;
  --ion-color-warning-rgb: 255, 234, 167;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ce93;
  --ion-color-warning-tint: #ffecb0;

  /** danger - Red **/
  --ion-color-danger: #ff7675;
  --ion-color-danger-rgb: 255, 118, 117;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e06867;
  --ion-color-danger-tint: #ff8483;

  /** medium - Grey text **/
  --ion-color-medium: #636e72;
  --ion-color-medium-rgb: 99, 110, 114;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #576164;
  --ion-color-medium-tint: #737d80;

  /** light - Backgrounds **/
  --ion-color-light: #dfe6e9;
  --ion-color-light-rgb: 223, 230, 233;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c4cacd;
  --ion-color-light-tint: #e2e9eb;

  /* App Background */
  --ion-background-color: #f5f6fa;
  --ion-background-color-rgb: 245, 246, 250;
  
  --ion-text-color: #2d3436;
  --ion-text-color-rgb: 45, 52, 54;
}
